.background
{
    background-color:#FBA48A;
}
.label
{
    font-size: 30px;
    font-weight: bold;
}
.input
{
    margin-top: 1em;
    padding-left: 10px;
    height: 100%;
    text-align: left;
}
.button
{
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 10px;
text-align: center;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(2);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
.img
{
  grid-column: 1 / 2;
  grid-row: 1;
  grid-template-columns: 1fr;
  padding-left: 10px;
}
.imgprp
{
    max-width: 800px;
    max-height: 330px;
}
.containers
{
    grid-column: 2 / 2;
    grid-template-columns: 1fr;
    grid-row: 1 ;
    padding-right: 10px;
    align-self: center;
    padding-left: 20px;
}
.kural
{
    font-size:20px;
    font-weight: bold;
    border: 1px solid;
    background-color: khaki;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 15px;
}
.kural:hover
{
    transition: 0.3s;
    transform: translateY(-10px);
}
.tamilexplanation
{
    border: 1px solid;
    background-color: khaki;
    border-radius: 20px;
    padding: 5px;
    align-self: center;
}
.tamilexplanation:hover
{
    transition: 0.3s;
    transform: translateY(-10px);
}
.englishexplanation
{
    border: 1px solid;
    background-color: khaki;
    border-radius: 20px;
    padding: 5px;
}
.englishexplanation:hover
{
    transition: 0.3s;
    transform: translateY(-10px);
}
.error
{
    font-size: 20px;
    font-weight: bolder;
    border: 1px solid;
    background-color: khaki;
    border-radius: 20px;
    padding: 5px;
    white-space: nowrap;
    text-align: center;
}
@media (max-width: 600px)
{
    .wrapper {
    display: grid;
    grid-template-columns: repeat(1);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    align-items: center;
    justify-items: center;
  }
.img
{
grid-column: 1 / 1;
  grid-row: 1;
  grid-template-columns: 1fr;
  max-width:70%; 
}
.containers
{
    margin-top: 3em;
    grid-column: 1 / 1;
    grid-template-columns: 1fr;
    grid-row: 2 ;
    padding-right: 10px;
    align-self: center;
    font-size: 13px;
    padding-left: 10px;
}
.kural
{
    font-size:13px;
    font-weight: bold;
    white-space: nowrap;
}
} 
@media (min-width: 600px) and (max-width: 850px)
{
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2);
        gap: 10px;
        grid-auto-rows: minmax(100px, auto);
        align-items: center;
      }
    .img
    {
    grid-column: 1 / 2;
      grid-row: 1;
      grid-template-columns: 1fr;
      max-width:70%; 
    }
    .containers
    {
        grid-column: 2 / 2;
        grid-template-columns: 1fr;
        grid-row: 1 ;
        padding-right: 10px;
        align-self: center;
        font-size: 13px;
        padding-left: 10px;
    }
    .kural
    {
        font-size:13px;
        font-weight: bold;
        white-space: nowrap;
    }
} 
